<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @stack.name %>
</p>

<p>
  <strong>Environment type:</strong>
  <%= @stack.environment_type %>
</p>

<p>
  <strong>Account:</strong>
  <%= @stack.account %>
</p>

<p>
  <strong>Environment:</strong>
  <%= @stack.environment %>
</p>

<%= link_to 'Edit', edit_stack_path(@stack) %> |
<%= link_to 'Back', stacks_path %>
